.p-actors {
    background-color: black;
}

.p-actors .grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.p-actors .grid-list-h {
    flex-direction: column;
}

.p-actors h1 {
    font-family: 'Bangers', cursive;
    color: silver;
    font-size: 5em;
}